/*carrusel*/
.mySwiper {
    z-index: auto !important;
    margin: 1.5rem !important;
    margin-left: 1.5rem !important;
    /*padding: 20px 280px 20px 50px !important;*/
}
/*.mySwiper.escritorio{
    overflow: visible !important;
}

body {
    overflow-x: hidden;
}*/

.swiper-button-prev,
.swiper-button-next {
    padding: 2rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    z-index: 2000 !important;
    font-weight: bolder !important;
}

:root {
    --swiper-navigation-size: 1.8rem !important;
}

/* contenedor imagen */
.mySwiper .contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 20%;
    transition: object-position 0.4s;
    transition-delay: 0.4s;
    border-radius: 9px;
}

/*contenido dentro de la tarjeta cuerpo*/

.mySwiper .contenedor {
    position: relative;
    width: 100%;
    /*height: 11rem;*/
    border-radius: 9px;
}


/* tarjeta cuerpo */
.tarjeta-cuerpo {
    background-color: rgba(0, 0, 0, 0.624);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    opacity:0;
}
.contenedor-info-card-inicio{
    margin: 1rem;
}
.contenedor:hover .tarjeta-cuerpo{
    backface-visibility: visible;
    opacity: 1;
}
.contenedor-darVuelta-card{
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    height: 100%;
}
.contenedor:hover .contenedor-darVuelta-card{
    -o-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg) ;
    -webkit-transform: perspective(600px) rotateY(180deg) ;
    transform: perspective(600px) rotateY(180deg) ;
}

.index {
    z-index: 1000 !important;
}

/* slide swipperJS */
.agrandar {
    z-index: 100000;
}

.swiper-slide {
    /*margin-right: 10px;*/
    left: 0px;
    transition: left 0.4s !important;
    transition-delay: 0.4s !important;
    height: 150px !important;
}


.swiper-wrapper {
    /*transition: transform 1.3s cubic-bezier(0.65, 0, 0.35, 1) !important;*/
    transition: transform 1.3s cubic-bezier(0.65, 0, 0.35, 1) !important;
}

/* Botones */
.btn-play {
    width: 3rem;
}

.btn-play button {
    background-color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    transition: 0.2s;
    margin-bottom: 10px;
}

.btn-play button:hover {
    width: 2.8rem;
    height: 2.8rem;
}

.icon-play {
    position: relative;
    left: 1px;
}

.btn-check-mas {
    background-color: rgba(51, 51, 51, 255);
    border: none;
    color: rgb(245, 245, 245);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-right: 3px;
}
.card-titulo{
    font-size: 1.2rem;
}
.btn-check-mas:hover {
    color: rgba(51, 51, 51, 255);
    background-color: white;
}

.tarjeta-cuerpo .primer-cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.txt-reproducir {
    font-size: 18px;
    margin-right: auto;
    margin-left: 10px;
    font-weight: 500;
}

.icon-check {
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    color: #00050d;
}

.txt-prime {
    display: flex;
    align-items: center;

}
.swiper-slide:hover {
    z-index: 900 !important;
    /* al achicar la pantalla, poner position left. para centrarlo*/
}





/* contenedor imagen */
/*.mySwiper .contenedor:hover img {
    object-position: top;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}*/

/*contenido dentro de la tarjeta cuerpo*/
/*.mySwiper .contenedor:hover {
    height: 250px;
    width: calc(100% + 30px);
    box-shadow: black 0px 0px 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: translate(-5%, -9%);
}*/


/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */


@media (max-width: 768px) {
.swiper-button-prev,
.swiper-button-next {
    padding: 1.2rem;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.1rem !important;
}
}