.enlace-card-galeria{
    text-decoration: none;
    color: white;
    margin: 6px;
    width: calc((100% / 5) - 6px);
}
.enlace-card-galeria:hover{
    color: white;
}
.lista-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-galeria{
    /*width: calc((100% / 5) - 6px);*/
    margin: 12px 6px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}
/*.contenedor:hover .contenedor-img-galeria{
    -o-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg) ;
    -webkit-transform: perspective(600px) rotateY(180deg) ;
    transform: perspective(600px) rotateY(180deg) ;
}*/
.tipo-card{
    position: absolute;
    z-index: 100;
    margin: 8px;
    box-shadow: 0px 0px 5px #00000067;
}
.contenedor{
    width: 100%;
    height: 100%;
    position: relative;
}
.contenedor-img-galeria{
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
.contenedor-img-galeria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.contenedor-txt-galeria{
    margin-top:auto;
    border-radius: 0px 0px 10px 10px;
}

.contenedor-txt-galeria h2{
    font-size: 20px;
    margin: 5px;
    text-align: center;
    font-weight: 400;
    text-overflow: ellipsis; /* (...)*/
    overflow: hidden; /* Oculta el contenido que se desborda */
    white-space: nowrap; /* Evita el salto de línea del texto */
}

/* ============ Botones buscar ===================*/
.contenedor-filtrado{
    padding: 2em;
    display: flex;
}
.contenedor-filtrado button{
    background-color: rgb(47, 62, 81);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: all 0.1s ease-in-out;
}
.contenedor-filtrado button:hover{
    background-color: rgb(28, 37, 49);
}
.contenedor-filtrado button:active{
    background-color: #565e64;
}
.contenedor-btn-visual{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.dropdown-menu{
    --bs-dropdown-link-hover-bg:  #565e64;
    background-color: rgb(28, 37, 49);
}

/* ============  Buscador =======================*/

.buscador-gal {
    background-color: rgb(24, 34, 43);
    font-size: 17px;
    padding: 7px;
    color: #8197a4;
    border: solid 1px rgba(129, 151, 164, .5);
    width: 100%;
    padding-left: 30px;
}
.contenedor-input-gal{
    position: relative;
}
.contenedor-buscar-gal{
    margin-left: 20px;
    width: 300px;
    position: relative;
    right: 10px;
    bottom: 0px;
    display: flex;
    transition: all 1s cubic-bezier(0.68,-0.10,0.265,1);
}
.contenedor-buscar-gal.active{
    width: 80%;
}
.buscador-gal:focus {
    color: white;
}
.icon-buscar-gal {
    position: absolute;
    left: 10px;
    bottom: 15px;
    margin: auto;
    cursor: pointer;
    z-index: 10;
}
/* ============ Lista filtrado =========== */

.dropdown-menu.show.contenedor-generos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    list-style: none;
    padding: 1.5em;
}
.contenedor-generos button{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.contenedor-generos button:hover{
    text-decoration: underline;
}
/* ============ Card Trasera ===================*/

.card-trasera{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0px;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    opacity:0;
    display: flex;
    flex-direction: column;

    border: 3px solid #05050510;
    border-radius: 10px;
    background: #05050580;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}
/*.contenedor:hover .card-trasera{
    backface-visibility: visible;
    opacity: 1;
}*/
.card-delantera, .card-trasera{
    transition: all ease 0.5s;
}
.generos-span{
    margin: 3px;
    background: #db3232;
    padding: 0.4em;
    border-radius: 10px;
}

.descripcion{
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    --max-lines: 7;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
.contenedor-descripcion{
    margin-bottom: 10px;
}
.grupo-boton{
    margin-top: auto;
}
.grupo-info{
    margin-top: auto;
}
.titulo{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ============ Medias ===================*/

@media (max-width: 499px){
    .card-galeria{
        width: calc((100%) - 6px);
    }
}
@media (min-width: 500px) and (max-width: 768px){
    .card-galeria{
        width: calc((100% / 2) - 6px);
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .card-galeria{
        width: calc((100% / 3) - 6px);
    }
}
@media (min-width: 1025px) and (max-width: 1200px){
    .card-galeria{
        width: calc((100% / 4) - 6px);
    }
}
@media (min-width: 1201px){
    .card-galeria{
        width: calc((100% / 5) - 6px);
    }
    .contenedor:hover .card-trasera{
        backface-visibility: visible;
        opacity: 1;
    }
    .contenedor:hover .contenedor-img-galeria{
        -o-transform: perspective(600px) rotateY(180deg);
        -ms-transform: perspective(600px) rotateY(180deg) ;
        -webkit-transform: perspective(600px) rotateY(180deg) ;
        transform: perspective(600px) rotateY(180deg) ;
    }
    .contenedor:hover .tipo-card{
        display: none;
    }
}